<h1>Astronauts</h1>
<% @astronauts.each do |astronaut| %>
<h3>Name:<%= astronaut.name %></h3>
<h3>Age:<%= astronaut.age %></h3>
<h3>Job:<%= astronaut.job %></h3>
<% end %>
<h3>Average Age:<%= Astronaut.average_age %></h3>
<h3>Missions:<%= Astronaut.mission_order %></h3>
